html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Fira Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width: 100%;
}

@font-face {
    font-family: 'LMP';
    src: url('littlemisspriss-webfont.eot');
    src: url('littlemisspriss-webfont.eot?#iefix') format('embedded-opentype'),
         url('littlemisspriss-webfont.woff2') format('woff2'),
         url('littlemisspriss-webfont.woff') format('woff'),
         url('littlemisspriss-webfont.ttf') format('truetype'),
         url('littlemisspriss-webfont.svg#littlemissprissmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.menu {
	width:40%;
	position: fixed;
	z-index:100;
	top:0;
	font-size: 48px;
	color: #fff;
}
	.menu p {
		width:20%;
		margin:15px 7%;
		font-family: 'LMP';
		letter-spacing: 2px;
	}
	#left {
		left:1%;
	}
		#left p {
			float:left;
		}
	#right {
		right:2%;
		text-align: right;
	}
		#right p {
			float:right;
		}
		#right p:last-child {
			margin-right: 15%;
		}

#girl {
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	padding:10px 35%;
	background-color: #462959;
}
#girl-svg {
	margin-left:-5px;
}
	#girl h2 {
		text-align: center;
		color:#fff;
		font-family: 'LMP';
		letter-spacing: 2px;
		font-size: 36px;
		width:110%;
		margin-top:7px;
		line-height:1em;
		margin-left:-8%;
	}
	#girl .tagline {
		font-size: 24px;
		margin-top:3px;
	}
	#girl .down-carrot {
		margin:10px 41%;
		margin-bottom:0;
		padding-bottom:0;
	}
#down-triangle {
	position:absolute;
	left:32.7%;
	z-index:50;
}

#color-sections {
	width:100%;
	position:absolute;
	z-index:50;
	left:0;
	top:0;
	height:100%;
}
	#color-sections .color-section {
		width:12.5%;
		float:left;
		padding:50px 0;
		height:100%;
	}
#about-section, #schedule {
	width:100%;
	position:absolute;
	left:0;
	top:0;
	padding:120px 0 50px 0;
}
	#about-section #intro {
		margin-left:5%;
		padding-top:27px;
		font-size: 15px;
		font-weight: 300
	}
		#about-section #intro strong {
			font-size:50px;
			font-family: 'LMP';
			color:#a27994;
			letter-spacing: 2px;
			line-height:1.4em;
		}
	#about-section p {
		float:left;
		width:24.5%;
		margin:60px 4%;
		font-size:14px;
		font-weight: 350
	}
		#about-section p em {
			color:#462959;
			font-size:20px;
		}
	#about-section #middle {
		width:32%;
		margin:60px 1%;
	}
	#about-section #side-girl {
		width:330px;
		position:absolute;
		right:0;
		bottom: 0;
	}
a {
	font-family: inherit;
	text-decoration: none;
	color:inherit;
}
a:hover {
	text-decoration: underline;
}

